@charset "utf-8";

@font-face {
  font-family: "PretendardVariable";
  src: url(webfonts/PretendardVariable.woff2) format(woff2);
}

* {
  margin: 0;
  padding: 0;
  font-family: "PretendardVariable";
  word-break: keep-all;
  white-space: nowrap;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
}
.head {
  width: 100%;
  max-width: 1472px;
  margin: 0 auto;
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head nav {
  padding-left: 100px;
}
.head nav ul {
  display: flex;
  gap: 50px;
}
.head nav ul li a {
  font-size: 18px;
  color: #000;
  font-weight: 700;
  line-height: 48px;
}
.head .sup {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.head .sup p {
  font-weight: 700;
  padding: 0 25px;
  border-radius: 100px;
}
.head .sup p:nth-child(1) {
  background-color: #e30012;
  line-height: 48px;
}
.head .sup p:nth-child(2) {
  border: 2px solid #000;
  line-height: 44px;
}
.head .sup p a {
  font-size: 16px;
  color: #000;
}
.head .sup p:nth-child(1) a {
  color: #fff;
}
main {
  position: relative;
  top: 116px;
}
.conMain .bg {
  background: url(images/main.jpg) bottom/cover no-repeat;
  width: 100%;
  height: calc(100vh - 116px);
}
.conStory {
  max-width: 1216px;
  padding: 160px 0 248px;
  margin: 0 auto;
}
.conStory .conStory .worker li a img {
  width: 96px;
  height: 96px;
}
