@charset "utf-8";

@font-face {
  font-family: "PretendardVariable";
  src: url(../webfonts/PretendardVariable.woff2) format("woff2");
}
@font-face {
  font-family: "KCC-eunyoung-Regular";
  src: url(../webfonts/KCC-eunyoung-Regular.woff) format("woff2");
}

* {
  margin: 0;
  padding: 0;
  font-family: "PretendardVariable", sans-serif;
  word-break: keep-all;
  white-space: nowrap;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* header(fixed) */

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 9000;
}
header .head {
  width: 100%;
  height: 112px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .head .logo {
  padding-right: 100px;
}
header .head .logo a {
  display: block;
  width: auto;
  height: 48px;
}
header .head .logo a img {
  object-fit: cover;
}
header .head .nav ul {
  display: flex;
  gap: 3rem;
}
header .head .nav ul li a {
  font-size: 18px;
  font-weight: 700;
  color: #212121;
}
header .head .nav ul li a:hover {
  color: #e30012;
}
header .head .headRight ul {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  gap: 8px;
}
header .head .headRight ul li a {
  padding: 0 24px;
  display: inline-block;
  line-height: 48px;
  border-radius: 50px;
}
header .head .headRight ul li:first-child a {
  background-color: #e30012;
  border: 2px solid #e30012;
  color: #fff;
}
header .head .headRight ul li:last-child a {
  border: 2px solid #000;
  color: #000;
}
header .head .hamberger.mob a {
  display: block;
  width: auto;
  height: 24px;
}
header .head .hamberger.mob a img {
  object-fit: cover;
}

/* arrowAni(fixed) */

.arrowAni {
  position: fixed;
  bottom: 48px;
  right: 48px;
  z-index: 9001;
}
.arrowAni .arrowBd {
  position: relative;
  width: 48px;
  height: 80px;
  border-radius: 48px;
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  opacity: 0.8;
  transition: 1s;
}
.arrowAni .arrowBd .arrowWh {
  position: absolute;
  left: 50%;
  top: 33%;
  transform: translateX(-50%);
  width: 16px;
  height: 32px;
  animation: arrowWh 1.6s linear 0s infinite forwards;
}
@keyframes arrowWh {
  0% {
    transform: translate(-50%, -20%);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 20%);
    opacity: 0;
  }
}
.arrowBd .arrowBl {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 32px;
}

/* main1 */

.main1 {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../images/main.jpg) bottom/cover no-repeat;
}
.main1 .blend {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(17 24 39);
  opacity: 0.2;
  mix-blend-mode: multiply;
  z-index: 10;
}
.main1 .mainBox {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  z-index: 11;
}
.main1 .mainBox h1 {
  font-size: 48px;
  line-height: 64px;
}
.main1 .mainBox .ani {
  display: flex;
  height: 160px;
  margin-bottom: 80px;
}
.main1 .mainBox .ani .typewrite .wrap {
  font-size: 152px;
  line-height: 160px;
  font-family: "KCC-eunyoung-Regular";
}
.main1 .mainBox .ani .typewrite:nth-child(2) .wrap {
  animation: cursor 1s infinite;
}
@keyframes cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.main1 .mainBox .search {
  display: flex;
  gap: 16px;
  font-size: 24px;
  font-weight: 700;
}
.main1 .mainBox .search .field {
  position: relative;
}
.main1 .mainBox .search .field:nth-child(1) {
  width: 176px;
}
.main1 .mainBox .search .field:nth-child(2) {
  width: 360px;
}
.main1 .mainBox .search .field label {
  position: relative;
  display: block;
  text-align: center;
  border-bottom: 2px solid #fff;
  cursor: pointer;
}
.main1 .mainBox .search .field label span {
  display: block;
  padding: 24px 0;
}
.main1 .mainBox .search .field label img {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  height: 14px;
  display: block;
}
.main1 .mainBox .search .field .bar {
  position: absolute;
  width: 100%;
  padding: 16px 16px 0;
  background-color: #fff;
  cursor: pointer;
  display: none;
}
.main1 .mainBox .search .field:nth-child(2) .bar {
  max-height: 224px;
  overflow-y: scroll;
}
.main1 .mainBox .search .field .bar li {
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 16px;
  color: #616161;
}
.main1 .mainBox .search .field .bar li:hover {
  color: #e30012;
}
#field1,
#field2 {
  display: none;
}
.main1 .search strong {
  width: 176px;
  height: 82px;
  line-height: 82px;
  text-align: center;
  background: #e30012;
  border-radius: 50px;
  cursor: pointer;
}

/* main2 */

.scrollTrigger1 {
  position: relative;
  width: 100%;
  height: 100vh;
}
.main2 {
  width: 100%;
  height: calc(100vh - 112px);
  background-color: #fff;
}
.main2 .mainTxt {
  width: 100%;
  margin: 0 auto 64px;
  padding-top: 160px;
}
.main2 .mainTxt h1 {
  font-size: 48px;
  line-height: 64px;
  color: #212121;
}
.main2 .videoBox {
  position: absolute;
  left: 50%;
  top: 352px;
  transform: translateX(-50%);
  width: 25%;
  height: 35%;
}
.main2 .videoBox video {
  width: 100%;
  height: auto;
  border-radius: 16px;
}

/* main3 */

.main3 {
  position: relative;
  background-color: #fbf4f4;
}
.main3 .tit {
  width: 100%;
  margin: 112px auto 0;
  padding-top: 160px;
}
.main3 .tit h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
}
.main3 .scrollTrigger2.pc {
  position: relative;
  overflow: hidden;
}
.main3 .scrollTrigger2.pc .mainBox {
  width: 100%;
  height: 100vh;
}
.main3 .scrollTrigger2.pc .mainBox .videoBox {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.main3 .scrollTrigger2.pc .mainBox .videoBox video {
  width: 100%;
  height: 100%;
}
.main3 .scrollTrigger2.pc .mainBox .scrollBox {
  position: absolute;
  left: 30%;
  top: 160px;
  width: 100%;
  height: 100vh;
}
.main3 .scrollTrigger2.pc .mainBox .scrollBox .flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 100px;
}
.main3 .scrollTrigger2.pc .mainBox .scrollBox .flex li {
  width: 32%;
  margin-left: 160px;
}
.main3 .scrollTrigger2.pc .mainBox .scrollBox .flex .history2,
.main3 .scrollTrigger2.pc .mainBox .scrollBox .flex .history4 {
  transform: translateY(20%);
}
.main3 .scrollTrigger2.pc .mainBox .scrollBox .flex li .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main3 .scrollTrigger2.pc .mainBox .scrollBox .flex li .txtBox {
  margin-top: 48px;
}
.main3 .scrollTrigger2.pc .mainBox .scrollBox .flex li .txtBox h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #212121;
  margin-bottom: 8px;
}
.main3 .scrollTrigger2.pc .mainBox .scrollBox .flex li .txtBox p {
  font-size: 18px;
  line-height: 32px;
  color: #616161;
}

/* .main4 */

.main4 {
  position: relative;
  width: 100%;
  background-color: #fff;
}
.main4 .mainBox {
  width: 100%;
  margin: 0 auto;
  padding-top: 160px;
}
.main4 .mainBox .tit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 156px;
}
.main4 .mainBox .tit h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  color: #212121;
}
.main4 .mainBox .tit .more a {
  display: flex;
  align-items: center;
}
.main4 .mainBox .tit .more a p {
  font-weight: 700;
  line-height: 24px;
  color: #212121;
}
.main4 .mainBox .story .quote {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.main4 .mainBox .story .quote li {
  width: 14px;
  height: 10px;
  background: url(../images/mainquote.svg) center/cover no-repeat;
}
.main4 .mainBox .story .quote li:last-child {
  transform: rotate(180deg);
}
.main4 .mainBox .story h6 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
.main4 .mainBox .story p {
  line-height: 24px;
  opacity: 0.5;
}
.main4 .mainBox .story .storyBox li {
  position: relative;
  width: 100%;
  display: block;
}
.main4 .mainBox .story blockquote {
  position: absolute;
  width: 100%;
  transition: 0.5s;
  font-size: 20px;
  line-height: 32px;
  color: #212121;
  text-align: center;
  opacity: 0;
}
.main4 .mainBox .story blockquote.on {
  opacity: 1;
}
.main4 .mainBox .story .people {
  position: relative;
  height: 302px;
  margin-top: 185px;
  border-top: 1px solid #9e9e9e;
  display: flex;
  align-items: center;
  gap: 8px;
}
.main4 .mainBox .story .people:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 32px;
  height: 24px;
  background: url(../images/mainstoryico.svg) top/contain no-repeat;
}
.main4 .mainBox .story .people li {
  display: flex;
  align-items: center;
  width: 298px;
  cursor: pointer;
}
.main4 .mainBox .story .people li .worker {
  padding-right: 24px;
  margin: 0 auto;
}
.main4 .mainBox .story .people li.on {
  padding-bottom: 18px;
}
.main4 .mainBox .story .people li .worker .bdRed {
  width: 132px;
  height: 132px;
  border-radius: 50%;
}
.main4 .mainBox .story .people li .worker .bdRed.on {
  border: 2px solid #e30012;
}
.main4 .mainBox .story .people li .worker .bdRed img {
  width: 96px;
  height: 96px;
  border: 8px solid #fff;
  border-radius: 50%;
  transform: scale(1);
}
.main4 .mainBox .story .people li .worker .bdRed img.on {
  width: 128px;
  height: 128px;
}
.main4 .mainBox .story .people li .name {
  width: 0;
  opacity: 0;
  overflow: hidden;
  transition: width 0.65s ease-out;
}
.main4 .mainBox .story .people li .name.on {
  opacity: 1;
  width: 250px;
  display: block;
}
.main4 .mainBox .story .people li .name h6 {
  margin-bottom: 8px;
}

/* main5 */

.main5 {
  position: relative;
  width: 100%;
  background-color: #433838;
  color: #fff;
  transition: background-color 0.5s ease;
}
.main5 h1 {
  width: 100%;
  margin: 0 auto 25px;
  padding-top: 160px;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
}
.main5 .btn {
  width: 100%;
  margin: 0 auto 64px;
  height: 47px;
  display: flex;
  justify-content: space-between;
}
.main5 .btn .left {
  display: flex;
  align-items: end;
  gap: 30px;
}
.main5 .btn .left .inputBox {
  position: relative;
  display: flex;
  gap: 16px;
  cursor: pointer;
}
.main5 .btn .left .inputBox::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.main5 .btn .left .inputBox input {
  appearance: none;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #fafafa;
  background-image: url(../images/checkboxbl.svg);
  background-position: 50%;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  border-width: 1px;
  border-style: solid;
  border-color: #e0e0e0;
  border-radius: 4px;
}
.main5 .btn .left .inputBox input.on {
  background-color: #e30012;
  background-image: url(../images/checkboxwh.svg);
  border-color: #e30012;
}
.main5 .btn .left .inputBox label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.main5 .btn .left .inputBox label h6,
.main5 .btn .left .inputBox label span {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  display: inline-block;
  z-index: 1;
}
.main5 .btn .right {
  position: relative;
  width: 110px;
}
.main5 .btn .right .swiper-button-next,
.main5 .btn .right .swiper-button-prev {
  width: 47px;
  height: 47px;
  border: 2px solid #fff;
  border-radius: 50%;
}
.main5 .btn .right .swiper-button-next {
  right: 0;
}
.main5 .btn .right .swiper-button-prev {
  left: 0;
}
.main5 .btn .right .swiper-button-next:after {
  content: url(../images/mainarrowright.svg);
  width: 24px;
  height: 24px;
  line-height: 0px;
}
.main5 .btn .right .swiper-button-prev:after {
  content: url(../images/mainarrowleft.svg);
  width: 24px;
  height: 24px;
  line-height: 0px;
}
.main5 .swiper-container {
  position: relative;
  width: 100%;
  height: 560px;
}
.main5 .swiper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.main5 .slide-med,
.main5 .slide-non {
  height: 0;
}
.main5 .swiper-slide {
  cursor: pointer;
}

.main5 .swiper-slide .imgBox {
  position: relative;
  width: 280px;
  height: 280px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  overflow: hidden;
}
.main5 .swiper-slide .imgBox img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: 0.5s;
}
.main5 .swiper-slide:hover .imgBox img {
  transform: scale(1.1);
}
.main5 .swiper-slide .imgBox span {
  position: absolute;
  right: 16px;
  bottom: 16px;
  font-size: 12px;
  line-height: 16px;
}
.main5 .swiper-slide .txtBox {
  width: 280px;
  height: 280px;
  padding: 24px 24px 32px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main5 .job1 .txtBox {
  background-color: #847668;
}
.main5 .job2 .txtBox {
  background-color: #900000;
}
.main5 .job3 .txtBox {
  background-color: #9cacb9;
}
.main5 .job4 .txtBox {
  background-color: #4a5973;
}
.main5 .job5 .txtBox {
  background-color: #4f2600;
}
.main5 .job6 .txtBox {
  background-color: #24614e;
}
.main5 .job7 .txtBox {
  background-color: #00a7cc;
}
.main5 .job8 .txtBox {
  background-color: #004ed3;
}
.main5 .job9 .txtBox {
  background-color: #009a34;
}
.main5 .job10 .txtBox {
  background-color: #425b42;
}
.main5 .job11 .txtBox {
  background-color: #9cb934;
}
.main5 .job12 .txtBox {
  background-color: #3d0082;
}
.main5 .job13 .txtBox {
  background-color: #57a3e2;
}
.main5 .job14 .txtBox {
  background-color: #49425b;
}
.main5 .job15 .txtBox {
  background-color: #827557;
}
.main5 .swiper-slide .txtBox p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}
.main5 .swiper-slide .txtBox h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 8px;
}
.main5 .swiper-slide .txtBox p:nth-of-type(2) {
  opacity: 0.6;
}
.main5 .swiper-slide .txtBox span {
  font-size: 14px;
  line-height: 24px;
}
.main5 > p {
  width: 100%;
  margin: 0 auto;
  padding: 24px 0 112px;
  font-size: 14px;
  line-height: 24px;
  color: #9e9e9e;
}
.main5 > p span {
  color: #e30012;
}
.main5 > p a {
  font-weight: 400;
  text-decoration: underline;
  color: #fff;
}

/* main6 */

.main6 {
  background-color: #fbf4f4;
}
.main6 .mainBox {
  width: 100%;
  margin: 0 auto;
  padding: 160px 0 208px;
}
.main6 .mainBox h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  color: #212121;
}
.main6 .proc {
  position: relative;
  display: flex;
  margin: 152px 0 48px;
}
.main6 .proc::before {
  content: "";
  position: absolute;
  top: 11px;
  width: 100%;
  height: 2px;
  background-color: #212121;
  z-index: 1;
}
.main6 .proc li {
  flex: 1 1 16%;
  color: #212121;
}
.main6 .proc li.on {
  color: #e30012;
}
.main6 .proc li:last-child {
  position: relative;
}
.main6 .proc li:last-child::after {
  content: "";
  position: absolute;
  right: 0;
  top: 5px;
  width: 9px;
  height: 14px;
  background: url(../images/mainprocarrow.svg) center/cover no-repeat;
}
.main6 .proc .bdBl {
  position: relative;
  width: 24px;
  height: 24px;
  border: 2px solid #212121;
  border-radius: 50%;
  background-color: #fbf4f4;
  z-index: 2;
}
.main6 .proc .bdBl.on {
  border-color: #e30012;
}
.main6 .proc .bdBl .dotBl {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background-color: #212121;
  border-radius: 50%;
}
.main6 .proc .bdBl .dotBl.on {
  background-color: #e30012;
}
.main6 .proc .num,
.main6 .proc .tit {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.main6 .proc .num {
  font-family: "Poppins", serif;
  margin: 24px 0 8px;
}
.main6 .proc .tit {
  margin-bottom: 16px;
}
.main6 .proc p {
  line-height: 24px;
  opacity: 0.8;
}
.main6 .proc p.on {
  color: #212121;
}
.main6 .grayBox {
  padding: 32px;
  background-color: #4338380d;
  border-radius: 16px;
}
.main6 .grayBox li {
  line-height: 24px;
  color: #616161;
}

/* main7 */

.main7 {
  width: 100%;
  color: #212121;
}
.main7 .mainBox {
  width: 100%;
  margin: 0 auto;
  padding: 160px 0;
}
.main7 h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  padding-bottom: 80px;
  border-bottom: 2px solid #000;
}
.main7 .qa li {
  border-bottom: 2px solid #000;
}
.main7 .qa li .quest {
  padding: 48px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.main7 .qa li .quest h2 {
  font-size: 24px;
  line-height: 32px;
}
.main7 .qa li .quest span {
  position: relative;
  width: 30px;
  height: 30px;
}
.main7 .qa li .quest span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) rotate(0);
  width: 30px;
  height: 2px;
  background: #000;
  opacity: 1;
  transition: 0.3s;
}
.main7 .qa li .quest span:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%) rotate(0);
  width: 2px;
  height: 30px;
  background: #000;
  transition: 0.3s;
}
.main7 .qa li .quest span.on:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  width: 30px;
  height: 2px;
  background: #000;
  opacity: 0;
}
.main7 .qa li .quest span.on:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%) rotate(90deg);
  width: 2px;
  height: 30px;
  background: #000;
}
.main7 .qa li .answer {
  transition: 0.3s;
  height: 0;
  overflow: hidden;
}
.main7 .qa li .answer h5 {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #616161;
  padding-bottom: 48px;
}

/* main8 */

.main8 {
  position: relative;
  width: 100%;
  height: 672px;
  background-color: #fbf4f4;
}
.main8 .mainBox {
  width: 100%;
  margin: 0 auto;
  padding: 170px 0;
}
.main8 .mainBox h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  color: #212121;
  margin-bottom: 8px;
}
.main8 .mainBox h5 {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #616161;
  margin-bottom: 56px;
}
.main8 .mainBox .subs {
  display: flex;
  gap: 24px;
  margin-bottom: 20px;
}
.main8 .mainBox .subs .text input {
  width: 100px;
  padding: 8px 0 24px;
  font-size: 18px;
  font-weight: 700;
  color: #3c4a54;
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #000;
  outline: none;
  background-color: #fbf4f4;
}
.main8 .mainBox .subs .email input {
  width: 260px;
  padding: 8px 0 24px;
  font-size: 18px;
  font-weight: 700;
  color: #3c4a54;
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #000;
  outline: none;
  background-color: #fbf4f4;
}
.main8 .mainBox .subs .btn input {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 24px;
  background-color: #e30012;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.main8 .mainBox .checkbox {
  display: flex;
  align-items: center;
}
.main8 .mainBox .checkbox input {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  cursor: pointer;
}
.main8 .mainBox .checkbox label {
  line-height: 32px;
  color: #3c4a54;
}
.main8 .mainBox .checkbox label a {
  font-weight: 700;
  line-height: 24px;
  color: #212121;
  text-decoration: underline;
  text-underline-offset: 2px;
}
.main8 .imgBox {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 715px;
  width: 50%;
  height: 672px;
}
.main8 .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* footer */

footer {
  width: 100%;
  background-color: #212121;
  color: #fff;
  font-weight: 400;
  line-height: 24px;
}
footer a {
  color: #fff;
}
.foot {
  width: 100%;
  padding: 48px 16px 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.foot .left > a {
  display: inline-block;
  height: 64px;
  margin-bottom: 40px;
}
.foot .left > a img {
  width: 100%;
  height: 100%;
}
.foot .left address {
  font-style: normal;
}
.foot .left p span {
  color: #616161;
}
.foot .right {
  text-align: right;
}
.foot .right .link {
  display: flex;
  padding-top: 24px;
  margin-bottom: 88px;
}
.foot .right .link a {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
.foot .right .link a:hover {
  color: #e30012;
}
.foot .right .link span {
  padding: 0 16px;
  font-weight: 100;
  color: #bdbdbd;
}
.foot .right p {
  font-weight: 700;
  margin-bottom: 16px;
}
.foot .right .sns {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
.foot .right .sns li {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #616161;
  border-radius: 50%;
}
.foot .right .sns li:hover {
  background-color: #e30012;
}
.foot .right .sns li a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  font-size: 22px;
  width: 22px;
  height: 22px;
  z-index: 1;
}
.foot .right .sns li:last-child a {
  font-size: 18px;
  width: 18px;
  height: 18px;
}
.foot .right .sns li a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* job section */

.job ul {
  list-style: disc;
  list-style-position: inside;
  color: #616161;
}
.job > li {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9990;
  background-color: #fff;
  overflow-y: auto;
  display: none;
}
.job > li .mainBox {
  max-width: 1008px;
  margin: 160px auto;
}
.job h1 {
  font-size: 48px;
  line-height: 64px;
  color: #e30012;
}
.job h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #212121;
}
.job h6 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
.job .desc h6 {
  margin-bottom: 8px;
}
.job .desc div {
  display: flex;
  align-items: flex-end;
  gap: 16px;
}
.job .desc div h3 {
  font-weight: 400;
  color: #616161;
  margin-bottom: 8px;
}
.job .desc > h3,
.job .recruit h3 {
  margin: 48px 0 16px;
}
.job .desc li {
  font-size: 18px;
  line-height: 32px;
}
.job .desc .note {
  font-size: 16px;
  color: #616161;
  margin-top: 8px;
}
.job .desc .note strong {
  color: #e30012;
}
.job .desc .file {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 48px;
  padding-bottom: 64px;
  list-style: none;
}
.job .desc .file li a {
  display: block;
  color: #616161;
  padding: 16px 24px;
  background-color: #fafafa;
  border: 1px solid rgb(224 224 224);
  border-radius: 8px;
}
.job .recruit {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.job .recruit > p:first-of-type {
  color: #616161;
  margin-bottom: 24px;
}
.job .recruit ul:first-of-type {
  margin-bottom: 64px;
}
.job .recruit .checklist {
  list-style: none;
}
.job .recruit .checklist li {
  position: relative;
}
.job .recruit .checklist li label p:nth-child(1) {
  font-size: 18px;
  line-height: 32px;
  color: #212121;
  padding-top: 32px;
  margin-bottom: 8px;
}
.job .recruit .checklist li:first-child label p:nth-child(1) {
  margin-bottom: 0;
}
.job .recruit .checklist li label p:nth-child(2) {
  font-size: 16px;
  line-height: 24px;
  color: #616161;
  padding-bottom: 32px;
  border-bottom: 1px solid rgb(224 224 224);
}
.job .recruit .checklist a {
  text-decoration: underline;
  color: #e30012;
}
.job .recruit .checklist input {
  display: none;
}
.job .recruit .checklist span {
  display: block;
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-color: #fafafa;
  border-width: 1px;
  border-style: solid;
  border-color: #e0e0e0;
  border-radius: 4px;
  cursor: pointer;
}
.job .recruit .checklist span img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
}
.job .recruit .apply {
  text-align: center;
  margin: 32px 0;
}
.job .recruit .apply a {
  display: inline-block;
  line-height: 24px;
  color: #fff;
  padding: 16px 24px;
  background-color: #e30012;
  border-radius: 50px;
}
.job .recruit > p:nth-of-type(2) {
  text-align: center;
  margin-bottom: 64px;
}
.job .recruit > p:nth-of-type(2) strong {
  font-weight: 700;
}
.job .recruit h6:nth-of-type(2) {
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 32px;
}
.job .recruit ul:nth-of-type(3) {
  margin-bottom: 16px;
}
.job .recruit ul:nth-of-type(3) li {
  font-size: 18px;
  line-height: 32px;
  color: #212121;
}
.job .recruit ul:nth-of-type(3) li a {
  color: #212121;
  text-decoration: underline;
}
.job .recruit > span {
  display: block;
  font-size: 14px;
  color: #616161;
  margin-bottom: 48px;
}
.job .recruit span strong {
  color: #e30012;
}
.job > li .close {
  position: fixed;
  right: 48px;
  top: 64px;
  width: 48px;
  height: 48px;
  background: url(../images/close.svg) center/cover no-repeat;
  z-index: 9991;
  cursor: pointer;
}

/* mob */

@media screen and (min-width: 1504px) {
  header .head {
    max-width: 1504px;
  }
  .foot {
    max-width: 1504px;
  }
}
@media screen and (min-width: 1216px) {
  .main1 .mainBox {
    max-width: 1216px;
  }
  .main2 .mainTxt {
    max-width: 1216px;
  }
  .main3 .tit {
    max-width: 1216px;
  }
  .main4 .mainBox {
    max-width: 1216px;
  }
  .main5 h1 {
    max-width: 1216px;
  }
  .main5 .btn {
    max-width: 1216px;
  }
  .main5 > p {
    max-width: 1216px;
  }
  .main6 .mainBox {
    max-width: 1216px;
  }
  .main7 .mainBox {
    max-width: 1216px;
  }
  .main8 .mainBox {
    max-width: 1216px;
  }
}
