@charset "utf-8";

@font-face {
  font-family: "PretendardVariable";
  src: url(../webfonts/PretendardVariable.woff2) format("woff2");
}
@font-face {
  font-family: "KCC-eunyoung-Regular";
  src: url(../webfonts/KCC-eunyoung-Regular.woff) format("woff2");
}

* {
  margin: 0;
  padding: 0;
  font-family: "PretendardVariable";
  word-break: keep-all;
  white-space: nowrap;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.mob {
  display: none;
}

/* header(fixed) */

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 9000;
}
.head {
  max-width: 1504px;
  margin: 0 auto;
  height: 112px;
  padding: 0 16px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head .logo {
  padding-right: 100px;
}
.head .nav {
  display: flex;
  gap: 3rem;
}
.head .nav li a {
  font-size: 18px;
  font-weight: 700;
  color: #212121;
}
.head .nav li a:hover {
  color: #e30012;
}
.head .headRight {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  gap: 8px;
}
.head .headRight a {
  padding: 0 24px;
  display: inline-block;
  line-height: 48px;
  border-radius: 50px;
}
.head .headRight a:first-child {
  background-color: #e30012;
  border: 2px solid #e30012;
  color: #fff;
}
.head .headRight a:last-child {
  border: 2px solid #000;
  color: #000;
}
.head .hamberger {
  display: none;
}

/* main */

/* main1 */

.main1 {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../images/main.jpg) bottom/cover no-repeat;
}
.main1 .blend {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(17 24 39);
  opacity: 0.2;
  mix-blend-mode: multiply;
  z-index: 10;
}
.main1 .mainBox {
  position: relative;
  max-width: 1216px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  z-index: 11;
}
.main1 .mainBox h1 {
  font-size: 48px;
}
.main1 .mainBox .ani {
  display: flex;
  height: 160px;
  margin-bottom: 80px;
}
.main1 .mainBox .ani .typewrite .wrap {
  font-size: 152px;
  line-height: 160px;
  font-family: "KCC-eunyoung-Regular";
}
.main1 .mainBox .ani .typewrite:nth-child(2) .wrap {
  animation: cursor 1s infinite;
}
@keyframes cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* search section */

.main1 .search {
  display: flex;
  gap: 16px;
  font-size: 24px;
  font-weight: 700;
}
.main1 .search .field {
  position: relative;
}
.main1 .search .field:nth-child(1) {
  width: 176px;
}
.main1 .search .field:nth-child(2) {
  width: 360px;
}
.main1 .search .field label {
  position: relative;
  display: block;
  text-align: center;
  border-bottom: 2px solid #fff;
  cursor: pointer;
}
.main1 .search .field label span {
  display: block;
  padding: 24px 0;
}
.main1 .search .field label img {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 14px;
  display: block;
}
.main1 .search .field .bar {
  position: absolute;
  width: 100%;
  padding: 16px 16px 0;
  box-sizing: border-box;
  background-color: #fff;
  cursor: pointer;
  display: none;
}
.main1 .search .field:nth-child(2) .bar {
  max-height: 224px;
  overflow-y: scroll;
}
.main1 .search .field .bar li {
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 16px;
  color: #616161;
}
#field1,
#field2 {
  display: none;
}
.main1 .search strong {
  width: 176px;
  height: 82px;
  line-height: 82px;
  text-align: center;
  background: #e30012;
  border-radius: 50px;
  cursor: pointer;
}

/* main2 */

.scrollTrigger {
  position: relative;
  width: 100%;
}
.main2 {
  width: 100%;
  height: calc(100vh - 112px);
  background-color: #fff;
}
.main2 .mainTxt {
  max-width: 1216px;
  margin: 0 auto;
  padding-top: 160px;
  margin-bottom: 64px;
}
.main2 .mainTxt h1 {
  font-size: 48px;
  line-height: 64px;
  color: #212121;
}
.main2 .videoBox {
  position: absolute;
  left: 50%;
  top: 352px;
  transform: translateX(-50%);
  width: 25.2233%;
  height: 34.6964%;
}
.main2 .videoBox video {
  width: 100%;
  height: auto;
  border-radius: 16px;
}

/* main3 */

/* main4 */

.main4 {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #fff;
}
.main4 .mainBox {
  max-width: 1216px;
  margin: 0 auto;
}
.main4 .mainBox .tit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 156px;
}
.main4 .mainBox .tit h1 {
  font-size: 48px;
  line-height: 64px;
  font-weight: 700;
  color: #212121;
}
.main4 .mainBox .tit .more {
  display: flex;
  align-items: center;
}
.main4 .mainBox .tit .more p {
  font-weight: 700;
  line-height: 24px;
  color: #212121;
}
.story .quote {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.story .quote li {
  width: 14px;
  height: 10px;
  background: url(../images/mainquote.svg) center/cover no-repeat;
}
.story .quote li:last-child {
  transform: rotate(180deg);
}
.story h6 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
.story p {
  line-height: 24px;
  opacity: 0.5;
}
.story .storyBox li {
  position: relative;
}
.story blockquote {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
  font-size: 20px;
  line-height: 32px;
  color: #212121;
  text-align: center;
}
.story .people {
  margin-top: 185px;
  padding-top: 85px;
  border-top: 1px solid #000;
  display: flex;
  gap: 8px;
}
.story .people li {
  display: flex;
  align-items: center;
  width: 298px;
}
.story .people li .worker {
  padding-right: 24px;
  margin: 0 auto;
}
.story .people li .worker img {
  width: 80px;
  height: 80px;
  border: 8px solid #fff;
  border-radius: 50%;
  transform: scale(1);
  transition: 0.1s;
}
.story .people li .worker:hover img {
  transform: scale(1.2);
}
.story .people li .name {
  display: none;
}
.story .people li .name h6 {
  margin-bottom: 8px;
}

/* footer */

/* job section */

.job ul {
  list-style: disc;
  list-style-position: inside;
  color: #616161;
}
.job > li {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9990;
  background-color: #fff;
  overflow-y: auto;
  display: none;
}
.job > li .mainBox {
  max-width: 1008px;
  margin: 160px auto;
}
.job h1 {
  font-size: 48px;
  line-height: 64px;
  color: #e30012;
}
.job h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #212121;
}
.job h6 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
.desc h6 {
  margin-bottom: 8px;
}
.desc div {
  display: flex;
  align-items: flex-end;
  gap: 16px;
}
.desc div h3 {
  font-weight: 400;
  color: #616161;
  margin-bottom: 8px;
}
.desc > h3,
.recruit h3 {
  margin: 48px 0 16px;
}
.desc li {
  font-size: 18px;
  line-height: 32px;
}
.desc .note {
  font-size: 16px;
  color: #616161;
  margin-top: 8px;
}
.desc .note strong {
  color: #e30012;
}
.desc .file {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 48px;
  padding-bottom: 64px;
  list-style: none;
}
.desc .file li a {
  display: block;
  color: #616161;
  padding: 16px 24px;
  background-color: #fafafa;
  border: 1px solid rgb(224 224 224);
  border-radius: 8px;
}
.recruit {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.recruit > p:first-of-type {
  color: #616161;
  margin-bottom: 24px;
}
.recruit ul:first-of-type {
  margin-bottom: 64px;
}
.recruit .checklist {
  list-style: none;
}
.recruit .checklist li {
  position: relative;
}
.recruit .checklist li label p:nth-child(1) {
  font-size: 18px;
  line-height: 32px;
  color: #212121;
  padding-top: 32px;
  margin-bottom: 8px;
}
.recruit .checklist li:first-child label p:nth-child(1) {
  margin-bottom: 0;
}
.recruit .checklist li label p:nth-child(2) {
  font-size: 16px;
  line-height: 24px;
  color: #616161;
  padding-bottom: 32px;
  border-bottom: 1px solid rgb(224 224 224);
}
.recruit .checklist a {
  text-decoration: underline;
  color: #e30012;
}
.recruit .checklist .checkbox {
  display: none;
}
.recruit .checklist span {
  display: block;
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  background-color: #fafafa;
  border-width: 1px;
  border-style: solid;
  border-color: #e0e0e0;
  border-radius: 4px;
  cursor: pointer;
}
.recruit .checklist span img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
}
.recruit .apply {
  text-align: center;
  margin: 32px 0;
}
.recruit .apply a {
  display: inline-block;
  line-height: 24px;
  color: #fff;
  padding: 16px 24px;
  background-color: #e30012;
  border-radius: 50px;
}
.recruit > p:nth-of-type(2) {
  text-align: center;
  margin-bottom: 64px;
}
.recruit > p:nth-of-type(2) strong {
  font-weight: 700;
}
.recruit h6:nth-of-type(2) {
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 32px;
}
.recruit ul:nth-of-type(3) {
  margin-bottom: 16px;
}
.recruit ul:nth-of-type(3) li {
  font-size: 18px;
  line-height: 32px;
  color: #212121;
}
.recruit ul:nth-of-type(3) li a {
  color: #212121;
  text-decoration: underline;
}
.recruit > span {
  display: block;
  font-size: 14px;
  color: #616161;
  margin-bottom: 48px;
}
.recruit span strong {
  color: #e30012;
}
.job > li .close {
  position: fixed;
  right: 48px;
  top: 64px;
  width: 48px;
  height: 48px;
  background: url(../images/close.svg) center/cover no-repeat;
  z-index: 9991;
  cursor: pointer;
}

/* mob btn */
