@charset "utf-8";

@font-face {
  font-family: "PretendardVariable";
  src: url(../webfonts/PretendardVariable.woff2) format("woff2");
}
@font-face {
  font-family: "KCC-eunyoung-Regular";
  src: url(../webfonts/KCC-eunyoung-Regular.woff) format("woff2");
}

* {
  margin: 0;
  padding: 0;
  font-family: "PretendardVariable";
  word-break: keep-all;
  white-space: nowrap;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* header(fixed) */

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 9000;
}
.head {
  max-width: 1504px;
  margin: 0 auto;
  height: 112px;
  padding: 0 16px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head .logo {
  padding-right: 100px;
}
.head .nav {
  display: flex;
  gap: 3rem;
}
.head .nav li a {
  font-size: 18px;
  font-weight: 700;
  color: #212121;
}
.head .nav li a:hover {
  color: #e30012;
}
.head .headRight {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  gap: 8px;
}
.head .headRight a {
  padding: 0 24px;
  display: inline-block;
  line-height: 48px;
  border-radius: 50px;
}
.head .headRight a:first-child {
  background-color: #e30012;
  border: 2px solid #e30012;
  color: #fff;
}
.head .headRight a:last-child {
  border: 2px solid #000;
  color: #000;
}
.head .hamberger {
  display: none;
}

/* main */

/* main1 */

.main1 {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../images/main.jpg) bottom/cover no-repeat;
}
.main1 .blend {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(17 24 39);
  opacity: 0.2;
  mix-blend-mode: multiply;
  z-index: 10;
}
.main1 .mainBox {
  position: relative;
  max-width: 1216px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  z-index: 11;
}
.main1 .mainBox h1 {
  font-size: 48px;
}
.main1 .mainBox .ani {
  display: flex;
  height: 160px;
  margin-bottom: 80px;
}
.main1 .mainBox .ani .typewrite .wrap {
  font-size: 152px;
  line-height: 160px;
  font-family: "KCC-eunyoung-Regular";
}
.main1 .mainBox .ani .typewrite:nth-child(2) .wrap {
  animation: cursor 1s infinite;
}
@keyframes cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* search section */

.main1 .search {
  display: flex;
  gap: 16px;
  font-size: 24px;
  font-weight: 700;
}
.main1 .search .field {
  position: relative;
}
.main1 .search .field:nth-child(1) {
  width: 176px;
}
.main1 .search .field:nth-child(2) {
  width: 360px;
}
.main1 .search .field label {
  position: relative;
  display: block;
  text-align: center;
  border-bottom: 2px solid #fff;
  cursor: pointer;
}
.main1 .search .field label span {
  display: block;
  padding: 24px 0;
}
.main1 .search .field label img {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 14px;
  display: block;
}
.main1 .search .field .bar {
  position: absolute;
  width: 100%;
  padding: 16px 16px 0;
  box-sizing: border-box;
  background-color: #fff;
  cursor: pointer;
  display: none;
}
.main1 .search .field:nth-child(2) .bar {
  max-height: 224px;
  overflow-y: scroll;
}
.main1 .search .field .bar li {
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 16px;
  color: #616161;
}
#field1,
#field2 {
  display: none;
}
.main1 .search strong {
  width: 176px;
  height: 82px;
  line-height: 82px;
  text-align: center;
  background: #e30012;
  border-radius: 50px;
  cursor: pointer;
}

/* main2 */

.main2 {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}
.main2 .mainTxt {
  max-width: 1216px;
  margin: 0 auto;
  padding-top: 160px;
  margin-bottom: 64px;
}
.main2 .mainTxt h1 {
  font-size: 48px;
  line-height: 64px;
  color: #212121;
}
.main2 .videoBox {
  position: absolute;
  left: 50%;
  top: 352px;
  transform: translateX(-50%);
  width: 35.4767%;
  height: 33.3333%;
  border-radius: 16px;
  overflow: hidden;
}
.main2 .videoBox video {
  width: 100%;
  height: auto;
}

/* footer */

/* btn */
