@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  word-break: keep-all;
  white-space: nowrap;
  letter-spacing: -0.01rem;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.mob {
  display: none;
}

/* 899wNav */

.nav899 {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 9000;
  display: none;
}
.nav899 .head {
  display: flex;
  justify-content: space-between;
}
.nav899 .head .logo img {
  width: 72px;
  height: 24px;
  margin-top: 12px;
  margin-left: 25px;
}
.nav899 .head .close {
  margin-top: 12px;
  margin-right: 20px;
  cursor: pointer;
}
.nav899 .head .close img {
  width: 24px;
  height: 24px;
}
.nav899 .navBox {
  padding: 30px 20px;
}
.nav899 .navBox li {
  padding: 16px 0;
}
.nav899 .navBox li .dep1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.nav899 .navBox li .dep1 h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #111;
}
.nav899 .navBox li .dep1 span img {
  width: 16px;
  height: 16px;
}
.nav899 .navBox li .dep1 span .minus {
  display: none;
}
.nav899 .navBox li .dep2 {
  display: none;
}
.nav899 .navBox li .dep2 a {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  color: #333;
  margin-top: 16px;
}
.nav899 .navBox li .dep2 a:hover {
  font-weight: 700;
  color: #111;
}

/* 767wNav */

.nav767 {
  display: none;
}

/* header{fixed) */

header {
  position: fixed;
  height: 72px;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  background-color: transparent;
  z-index: 1000;
}
header .head {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
}
header .head .logo {
  position: relative;
  width: 97px;
  height: 33px;
  padding-right: 50px;
}
header .head .gnb {
  height: 100%;
}
header .head .gnb .dep1 {
  display: flex;
}
header .head .gnb .dep1 > li {
  position: relative;
}
header .head .gnb .dep1 > li > a {
  display: block;
  font-size: 16px;
  line-height: 72px;
  font-weight: 700;
  padding: 0 34px;
  color: #fff;
}
header .head .gnb:hover .dep1 > li > a {
  color: #111 !important;
}
header .head .gnb .dep1 > li .dep2 {
  position: absolute;
  left: 0;
  top: 72px;
  width: 100%;
  height: 275px;
  z-index: 1020;
  display: none;
}
header .head .gnb .dep1 > li .dep2 li {
  line-height: 40px;
}

header .head .gnb .dep1 > li .dep2 li a {
  font-weight: 500;
  color: #666;
}
header .head .gnb .dep1 > li .dep2 li a:hover {
  font-weight: bold;
  color: #111;
}

/* head nav background */

header .head .gnb .bgWhite {
  position: absolute;
  left: 0;
  top: 72px;
  width: 100%;
  height: 0;
  z-index: 1010;
}
header .head .gnb:hover .dep1 ~ .bgWhite {
  height: 275px;
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
}
header .head .gnb:hover .dep1 > li .dep2 {
  display: block;
}
header .head .headRight {
  display: flex;
}
header .head .headRight li {
  padding: 0 12px;
}
header .head .headRight li a {
  font-size: 14px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  line-height: 24px;
  letter-spacing: 0;
  color: #fff;
}
header .head .gnb:hover ~ .headRight li a {
  color: #111 !important;
}
header .head .hamberger {
  display: none;
}

/* main */

.section {
  overflow: hidden;
}
#section0 {
  overflow: hidden;
}
#myVideo {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  object-fit: cover;
  z-index: 3;
}
main .mainPage {
  width: 100%;
  height: 100vh;
  position: relative;
}
