@charset "utf-8";

@keyframes fadeOnly {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOutLeft {
  0% {
    right: -100px;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
@keyframes fadeOutRight {
  0% {
    left: -100px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@keyframes fadeOutUp {
  0% {
    bottom: -100px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes fadeOutDown {
  0% {
    top: -100px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes fadeOutUpLeft {
  0% {
    bottom: -100px;
    right: -100px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    right: 0;
    opacity: 1;
  }
}
@keyframes fadeOutUpRight {
  0% {
    bottom: -100px;
    left: -100px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    left: 0;
    opacity: 1;
  }
}
@keyframes fadeOutDownLeft {
  0% {
    top: -100px;
    right: -100px;
    opacity: 0;
  }
  100% {
    top: 0;
    right: 0;
    opacity: 1;
  }
}
@keyframes fadeOutDownRight {
  0% {
    top: -100px;
    left: -100px;
    opacity: 0;
  }
  100% {
    top: 0;
    left: 0;
    opacity: 1;
  }
}
@keyframes scale2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes letterSpacing {
  0% {
    letter-spacing: 0;
  }
  100% {
    letter-spacing: 50px;
  }
}
@keyframes whiteWidth {
  0% {
    width: 0;
  }
  100% {
    width: 37%;
  }
}
@keyframes whiteHeight {
  0% {
    height: 0;
  }
  100% {
    height: 120px;
  }
}

#section1 .mainTxt .txtTop.on {
  animation: fadeOutRight 1s 0.4s forwards;
}
#section1 .mainTxt .txtBot.on {
  animation: fadeOutUp 1s 0.6s forwards;
}
#section2 .mainBox .mainLeft.on {
  animation: fadeOutDown 1s 0.4s forwards;
}
#section2 .mainBox .mainRight .col1 p.on:nth-child(1) {
  animation: fadeOutDown 1s 0.4s forwards;
}
#section2 .mainBox .mainRight .col1 p.on:nth-child(2) {
  animation: fadeOutDown 1s 0.6s forwards;
}
#section2 .mainBox .mainRight .col1 p.on:nth-child(3) {
  animation: fadeOutDown 1s 0.8s forwards;
}
#section2 .mainBox .mainRight .col2 p.on:nth-child(1) {
  animation: fadeOutDown 1s 1s forwards;
}
#section2 .mainBox .mainRight .col2 p.on:nth-child(2) {
  animation: fadeOutDown 1s 1.2s forwards;
}
#section2 .mainBox .mainRight .col3 p.on:nth-child(1) {
  animation: fadeOutDown 1s 1.4s forwards;
}
#section2 .mainBox .mainRight .col3 p.on:nth-child(2) {
  animation: fadeOutDown 1s 1.6s forwards;
}
#section3 .mainBox .mainLeft.on {
  animation: fadeOutRight 1s 0.4s forwards;
}
#section3 .mainBox .mainRight .flower.on {
  animation: fadeOutUpRight 1s 0.6s forwards;
}
#section3 .mainBox .mainRight .tower.on {
  animation: fadeOutDownLeft 1s 0.8s forwards;
}
#section4 .videoBox .txtTop.on {
  animation: fadeOutRight 1s 0.4s forwards;
}
#section4 .videoBox .txtBot.on {
  animation: fadeOutLeft 1s 0.4s forwards;
}
#section5 .mainBox .mainLeft p.on {
  animation: scale2 2.5s 0s forwards;
}
#section5 .mainBox .mainRight > div p.on {
  animation: fadeOnly 1s 0.4s forwards;
}
#section5 .mainBox .mainRight ul li:nth-child(1) p.on {
  animation: fadeOnly 1s 0.6s forwards;
}
#section5 .mainBox .mainRight ul li:nth-child(2) p.on {
  animation: fadeOnly 1s 0.8s forwards;
}
#section5 .mainBox .mainRight ul li:nth-child(1) .txtBox.on {
  animation: fadeOnly 1s 1s forwards;
}
#section5 .mainBox .mainRight ul li:nth-child(2) .txtBox.on {
  animation: fadeOnly 1s 1.2s forwards;
}
#section7 .mainTxt .txtBox h4.on {
  animation: fadeOutLeft 1s 1.4s forwards;
}
#section7 .mainTxt .txtBox div.on {
  animation: fadeOnly 1s 0s forwards;
}
#section7 .mainTxt .txtBox div h1.on {
  animation: letterSpacing 1s 1s forwards;
}
#section7 .mainTxt .txtBox p.on {
  animation: fadeOutRight 1s 1.4s forwards;
}
#section8 .mainBox .mainTxt .txtBox.on {
  animation: fadeOutRight 1s 0.4s forwards;
}
#section8 .mainBox .mainTxt .subImg img.on {
  animation: fadeOutUpRight 1s 0.4s forwards;
}
#section8 .mainBox .mainImg.on {
  animation: fadeOutDownLeft 1s 0.4s forwards;
}
#section9 .mainBox .con1 .titBox.on {
  animation: fadeOutDown 1s 0.4s forwards;
}
#section9 .mainBox .con1 .conWrap.on {
  animation: fadeOutUp 1s 0.4s forwards;
}
#section9 .mainBox .con2.on {
  animation: fadeOutUp 1s 0.6s forwards;
}
#section9 .mainBox .con3.on {
  animation: fadeOutUp 1s 0.8s forwards;
}
#section10 .mainBox .mainImg.on {
  animation: fadeOutDownRight 1s 0.4s forwards;
}
#section10 .mainBox .mainTxt .txtBox.on {
  animation: fadeOutLeft 1s 0.4s forwards;
}
#section10 .mainBox .mainTxt .subImg img.on {
  animation: fadeOutUpLeft 1s 0.4s forwards;
}
#section11 .mainBox .con1 .titBox.on {
  animation: fadeOutDown 1s 0.4s forwards;
}
#section11 .mainBox .con1 .conWrap.on {
  animation: fadeOutUp 1s 0.4s forwards;
}
#section11 .mainBox .con2.on {
  animation: fadeOutUp 1s 0.6s forwards;
}
#section11 .mainBox .con3.on {
  animation: fadeOutUp 1s 0.8s forwards;
}
#section12 .mainBox .whiteWrap .top.on,
#section12 .mainBox .whiteWrap .bot.on {
  animation: whiteHeight 1.4s 0.8s forwards;
}
#section12 .mainBox .whiteWrap .right.on,
#section12 .mainBox .whiteWrap .left.on {
  animation: whiteWidth 1.4s 0.8s forwards;
}
#section12 .mainBox .mainTxt .mainLeft.on {
  animation: fadeOutRight 1s 1.5s forwards;
}
#section12 .mainBox .mainTxt .mainRight.on {
  animation: fadeOutLeft 1s 1.9s forwards;
}
#section13 .mainBg.on {
  animation: scale2 2.5s 0s forwards;
}
#section13 .high .flex.on {
  animation: fadeOutDown 1s 0.6s forwards;
}
#section14 .mainBg.on {
  animation: scale2 2.5s 0s forwards;
}
#section14 .high .flex.on {
  animation: fadeOutDown 1s 0.6s forwards;
}
